@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* font-family: 'Russo One', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
/* font-family: 'Sigmar', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
/* font-family: 'Wendy One', sans-serif; */

* {
    font-family: 'Russo One', sans-serif;
    margin: 0, auto;
}

/* BUTTON BOOTSTRAP */







/* INDEX  */
.background-container {
    background-image: linear-gradient(to bottom,#AF06EB, #602CCF);
    height: 100vh;
}

.background-formas {
    background-image: url(./images/BG\ 35.png);
    animation: background-movement 30s linear infinite;
}

@keyframes background-movement {
    0% {background-position: 0 0;}
    100% {background-position: 100% 100%;}
}

.main-container{
    display: flex;
    align-items: center;
    height: 95vh;
}
.indexbutton {
    width: 100%;
    max-width: 350px;
    height: 60px;
    font-size: large;
}
.github a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 5vh;
}
.logoindex{
    scale: 80%;
}


/* QUIZ GAME  */
.background-container-game {
    background: #555555;
}

.menu-quiz{
    height: 14vh;
}
.text-menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
}
.text-name{
    flex-basis: 100%;
}
.text-current-question{
    margin-left: auto;
    font-size: 40px;
}

/* QUESTION TAB  */
.question-tab{
    height: 20vh;
    align-items: center;
    font-size: 23px;
}

/* ANSWER TAB  */
.answer-tab{
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
    max-width: 1000px;
}
.answer-full{
    line-height: 45px;
}
.letter-answer{
    width: 100%;
    max-width: 60px;
    background-image: linear-gradient(to bottom,#AF06EB, #602CCF);
    border-radius: 4px;
    scale: 110%;
    border: #602CCF;
}

.letter-answer:hover {
    background: linear-gradient(to bottom,#9806ce, #5024ad);
    border: #592abe;
    color: #c0bfbf;
    transition: all 0.5s;
}

.answerbutton {
    width: 100%;
    height: 100%;
    font-size: large;
}
/* CLASSE ADICIONADA PELO JAVASCRIPT */

.opcaocorreta {
    background: linear-gradient(to bottom,#3ceb06, #5acf2c);
    border: #68cf2c;
    color: #ffffff;
    transition: all 0.5s;
}

.opcaoselecionada {
    background: linear-gradient(to bottom,#AF06EB, #602CCF);
    border: #602CCF;
    color: #ffffff;
    transition: all 0.5s;
}
.opcaoselecionada:hover {
    background: linear-gradient(to bottom,#9806ce, #5024ad);
    border: #592abe;
    color: #c0bfbf;
    transition: all 0.5s;
}

/* NEXT QUESTION BUTTON  */
.btnnextquestion {
    height: 16vh;
    align-items: center;
}
.gamebutton {
    width: 100%;
    max-width: 350px;
    height: 50%;
    font-size: large;
}


/* END QUIZ  */
.end-container{
    display: flex;
    align-items: center;
    height: 80vh;
}